.button{
    border-style: solid;
    border-width: 4px;
    border-left-color: white;
    border-top-color: white;
    border-bottom-color: dimgrey;
    border-right-color: dimgrey;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    &:active {
        border-left-color: dimgrey;
        border-top-color: dimgrey;
        border-bottom-color: white;
        border-right-color: white;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    }
}

